@font-face {
    font-family: "DINNextLTPro-Light";
    src: url('../images/start2.jpg');
}

@font-face {
    font-family: "DINNextLTPro-Bold";
    src: url("../fonts/DIN_Next/DINNextLTPro-Bold.otf");
}

.second-page {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 572px;
    margin: 0 auto;
    padding-left: 25vw;

    &__pixl-studios {
        margin-top: 105px;
        width: 224px;
        height: 95px;
        background-image: url("../images/pixlStudios-secondPage.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
    }

    &__undertone {
        width: 138px;
        height: 34px;
        background-image: url("../images/undertone.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
    }

    &__text {
        color: gray;
        font-family: "DINNextLTPro-Light";
        margin-bottom: 20px;
    }

    &__pagegrabber {
        font-family: "DINNextLTPro-Bold";
        text-transform: uppercase;
    }
}

@media(max-width: 900px) {
    .second-page {
        width: 90%;
        padding: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;

        &__text {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
}